[Unit]
Description=Hysteria2 - An unidentifiable mechanism that helps you bypass GFW
After=network.target nss-lookup.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/hysteria2 server -c /etc/hysteria2/config.yml
Restart=on-failure
RestartSec=10s
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
